<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': isLoved(),
                'list-group-item-danger': isDontLoved() }">
    <h2 [ngStyle]="{color: getColor()}">{{ post.title }} </h2>
    <div style="text-align:right;font-weight: bold;font-style: italic;color:gray"> {{ post.createdAt | date: 'short' }} </div>
    <div>{{ post.content }}</div>
    <div class="row">
        <div class="col-sm-4">
                <div class="btn-group">
                        <button class="btn btn-success" 
                                        (click)="onLove()">Love It</button>
                        <button class="btn btn-danger" 
                                        (click)="onDontLove()">Don't Love It</button>
                </div>
                ( {{ post.lovesIt }} )
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
                <div class="btn-group">
                        <button class="btn btn-danger" 
                                (click)="onRemove(post.id)">Supprimer ce billet</button>
                </div>
        </div>
    </div>
</li>